body{margin: 0;padding: 0;font-size: 20px;}
header,footer{
	text-align: center;background: lightblue;padding: 3%}
	nav{background: green;}
	nav ul{
		margin: 0;display: flex;justify-content: space-around;}
	nav ul li{list-style: none;margin: 0.5%;padding: 1%}
	nav ul li a{text-decoration: none;color: red}
	section{display: flex;}
	.main{
		background:#16A2C5;width: 50%;text-align: center;padding: 2%;}
   .sidebar	{
   	background: #5275AD;width: 50%;text-align: center; padding: 2%}
   		@media screen and (max-width: 500px){
   			body{
   				background: red;
   			}
   		}
   	}