body{
	margin: 0;
	font-size: 30px;
}
.main{
	background-color: green;
	text-align: center;
	padding: 50px;
}
.maintext{
	background-color: red;
	padding:  100px;
}
.foot{
	background-color: green;
	text-align: center;
	padding: 50px
} 